# NOTE. USER MUST INSTALL numpy BEFORE INSTALLING LIBRARIES FROM requirements.txt SO THAT cartopy DOES NOT ERROR AND CRASH DURING INSTALL.
ipython
jupyter
pandas 
statsmodels 
matplotlib
seaborn
plotly
descartes
pygeos
feather-format
# NEXT 2 LIBRARIES ARE REQUIRED FOR geoviews TO INSTALL:
cython
shapely --no-binary shapely 
cartopy --no-binary cartopy
scikit-learn
# holoviews ALSO INSTALLS HOLOVIZ panel:
holoviews
bokeh==2.4.3
pyviz
hvplot
geoviews
geopandas  
pandas-profiling
requests
xlrd
psycopg2-binary
sqlalchemy==1.4.48
selenium
geopy
streamz
sqlalchemy_utils
#tornado
